/First year/Person/PersonApplication/nbproject/private/
/First year/Person/PersonApplication/build/
/First year/Assignment 2 - Banking application/BankingApplication/target/
/First year/Assignment 2 - Banking application/BankingApplication/nbproject/private/
/First year/Assignment 2 - Banking application/BankingApplication/build/
/First year/Assignment 3 - dealership/Dealership/Dealership/nbproject/private/
/First year/Assignment 3 - dealership/Dealership/Dealership/build/
/First year/Assignment 3 - dealership/Dealership/Dealership/dist/